<div class="" data-accordion>
  <h2 class="cursor-pointer" data-btn>Mehr infos</h2>
  <div class="h-0 overflow-hidden" data-content>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem delectus ex itaque obcaecati praesentium doloribus est vitae saepe maiores quaerat, provident similique alias magni voluptatum nulla, excepturi ipsam? Tempora voluptatibus vero excepturi dicta totam nesciunt veniam temporibus qui error doloribus impedit distinctio necessitatibus earum sed sapiente ipsum expedita, similique quos?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem delectus ex itaque obcaecati praesentium doloribus est vitae saepe maiores quaerat, provident similique alias magni voluptatum nulla, excepturi ipsam? Tempora voluptatibus vero excepturi dicta totam nesciunt veniam temporibus qui error doloribus impedit distinctio necessitatibus earum sed sapiente ipsum expedita, similique quos?
    </p>
  </div>
</div>