<div class="border border-white w-1/4" data-calendar>
  <div class="flex justify-between">
    <button data-back>Back</button>
    <p data-month></p>
    <button data-next>Next</button>
  </div>

  <div class="flex" data-weekdays>
    <p class="day">S</p>
    <p class="day">M</p>
    <p class="day">T</p>
    <p class="day">W</p>
    <p class="day">T</p>
    <p class="day">F</p>
    <p class="day">S</p>
  </div>

  <div class="flex flex-wrap data-days" data-days></div>
</div>