<div class="relative h-screen" data-carousel>
  <div class="h-full w-full" data-slides>

    {% for i in range(0, 5) -%}
      <div class="absolute top-0 left-0 opacity-0 h-full w-full" data-slide>
        <figure class="h-full w-full contain">
          <img src="https://images.unsplash.com/photo-1591445382356-93fce41d6760?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2167&q=80" alt="">
        </figure>
      </div>
    {%- endfor %}

  </div>
</div>