<div class="h-screen w-2/3 fixed right-0 top-0 text-primary bg-secondary transform translate-x-full" data-cart>
  <h3>Cart</h3>
  <div data-cart-items></div>
  <a href="" data-checkout-btn>Checkout</a>
</div>