<footer class="p-8 bg-black text-white flex justify-between">
<div class="flex space-x-4">
    <p>©{% year %}</p>
    <p><a href="">Disclaimer</a></p>
    <p><a href="">Privacy Policy</a></p>
</div>
<div class="flex space-x-4 w-1/2">
    <p><a href="">Instagram</a></p>
    <p><a href="">GitHub</a></p>
    <p><a href="">Twitter</a></p>
    <p><a href="">Email</a></p>
</div>

</footer>