<footer class="relative">

  <div class="min-h-screen bg-black text-white sticky flex flex-col justify-between clip-top z-[2]" data-footer-section>
    {% include "sections/footercontent.njk" %}
  </div>

  <div class="min-h-screen bg-white text-black absolute inset-0 flex flex-col justify-between z-[1]" data-footer-white-section>
    {% include "sections/footercontent.njk" %}
  </div>

</footer>
