<footer class="relative">

  <div class="min-h-screen bg-black text-white flex flex-col justify-between clip-top" data-footer-section>
    {% include "sections/footercontent.njk" %}
  </div>

  <div class="min-h-screen bg-white text-black absolute inset-0 flex flex-col justify-between z-[-1]">
    {% include "sections/footercontent.njk" %}
  </div>

</footer>
