<header class="flex justify-between">
  <h1>Logo</h1>
  {% include "components/partials/menuBtn.njk" %}
  {% include "components/navDesktop.njk" %}
  {% include "components/navMobile.njk" %}
</header>