<h1 class="z-[-1] fixed p-8 bottom-0" data-header-logo>Anna <br />Ehrnsperger</h1>

<header class="flex justify-end fixed text-white w-full p-8 bottom-0 z-[2]">
  {% include "components/partials/menuBtn.njk" %}
  {% include "components/navDesktop.njk" %}
  {% include "components/navMobile.njk" %}
</header>