<div class="flex overflow-hidden" data-marquee>
  {% for i in range(0, 5) %}
    <p class="whitespace-nowrap pr-3" data-marquee-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic veritatis quidem nostrum dolorum temporibus reprehenderit cupiditate exercitationem explicabo error harum!</p>
  {% endfor %}
</div>