{% if module._type === 'headline' %}
  {{ headline(module.headline | richtext | safe ) }}
{% endif %}

{% if module._type === 'textblock' %}
  {{ textblock(module.title, module.content) }}
{% endif %}

{% if module._type === 'code' %}
  {{ code(module.code, module.language) }}
{% endif %}