<nav class="hidden md:block" data-nav-desktop>
  <ul class="flex space-x-4">
    <li><a href="/" data-nav-item>Work</a></li>
    <li><a class="link" href="/stories" data-nav-item>Stories</a></li>
    <li><a class="link" href="/about" data-nav-item>About</a></li>
    <li class="pl-8"><a href="#" target="_blank" rel="noopener noreferrer">Instagram</a></li>
    <li><a href="#" target="_blank" rel="noopener noreferrer">Email</a></li>
  </ul>
</nav>