<nav class="hidden md:block z-30 space-x-4" data-nav-desktop>
  <ul>
    {# {% for item in general.navigation %}
      <li></li>
    {% endfor %} #}
    <li><a href="/" data-nav-item>Home</a></li>
    <li><a href="/about" data-nav-item>About</a></li>
    <li><button data-cart-btn>Cart (<span data-cart-num>0</span>)</button></li>
  </ul>
</nav>