<nav class="fixed h-screen w-full bg-secondary text-primary p-4 translate-y-full md:hidden z-[2]" data-nav-mobile>
  <ul class="hl space-y-8">
    {% include "sections/navContent.njk" %}
  </ul>
</nav>

