<div class="overflow-x-scroll select-none m-10 h-96 flex" data-simple-slider>
  {% for i in range(0, 10) %}
    <figure class="max-h-96 w-96 flex-shrink-0" data-slide>
      <img class="h-full" src="https://images.unsplash.com/photo-1591445382356-93fce41d6760?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2167&q=80" alt="Description">
    </figure>
  {% endfor %}
</div>