{% if template === 'frontpage' or template === 'stories' or template === 'about' %}
  <div class="hl group">
    <a href="mailto:hallo@annaehrnsperger.de">
      <div class="grid-layout p-4 md:p-8">
        <p class="col-span-12">Let's collaborate</p>
        <p class="col-start-2 col-span-11">hallo at annaehrnsperger.de</p>
        <p class="group-hover:col-start-2 col-span-3">→</p>
      </div>
    </a>
  </div>
{% endif %}

{% if template === 'project' %}
  <a class="hl group grid-layout p-4 md:p-8" href="/" data-transition="overview">
    <p class="col-span-12">Project</p>
    <p class="col-start-2 col-span-11">overview</p>
    <p class="group-hover:col-start-2 col-span-3">→</p>
  </a>
{% endif %}


<div class="flex justify-between p-4 md:p-8">
  <div class="flex space-x-4 w-1/3">
    <p><a href="">Anna Ehrnsperger</a></p>
  </div>
  <div class="flex space-x-4 w-1/3 justify-center">
    <p><a href="">Instagram</a></p>
    <p><a href="">GitHub</a></p>
    <p><a href="">Twitter</a></p>
    <p><a href="">Email</a></p>
  </div>
  <div class="flex space-x-4 w-1/3 justify-end">
    <p>©{% year %}</p>
    <p><a href="">Disclaimer</a></p>
    <p><a href="">Privacy Policy</a></p>
  </div>
</div>