{% set nextPost = collections.posts | getNextCollectionItem(page) %}
{% set firstPost = collections.posts[0] %}


{% if template === 'frontpage' or template === 'stories' or template === 'about' or template === 'disclaimer' %}
  <div class="hl group">
    <a href="mailto:hallo@annaehrnsperger.de">
      <div class="grid-layout p-4 md:p-8">
        <p class="col-span-12">Let's collaborate</p>
        <p class="col-start-2 col-span-10">hallo at annaehrnsperger.de</p>
        <p class="group-hover:col-start-2 col-span-3">→</p>
      </div>
    </a>
  </div>
{% endif %}

{% if template === 'project' %}
  <a class="hl group grid-layout p-4 md:p-8" href="/" data-transition="overview">
    <p class="col-span-12">Project</p>
    <p class="col-start-2 col-span-11">overview</p>
    <p class="group-hover:col-start-2 col-span-3">→</p>
  </a>
{% endif %}

{% if template === 'story' %}
  <a class="hl group grid-layout p-4 md:p-8" href="{{ nextPost.url if nextPost | length !== 0 }} {{ firstPost.url if nextPost | length === 0 }}">
    <p class="col-span-12">Next</p>
    <p class="col-start-2 col-span-11">story</p>
    <p class="group-hover:col-start-2 col-span-3">→</p>
  </a>
{% endif %}


<div class="grid-layout p-4 md:p-8">
  <div class="col-span-10 md:col-span-2">
    <p>Anna Ehrnsperger</p>
  </div>

  <div class="col-start-2 col-span-10 md:col-start-5 md:col-span-3">
    <div class="flex space-x-8 pb-8">
      <p><a href="https://www.instagram.com/annaehrnsperger/" target="_blank" rel="noopener noreferrer">Instagram</a></p>
      <p><a href="https://twitter.com/annaehrnsperger" target="_blank" rel="noopener noreferrer">Twitter</a></p>
      <p><a href="https://github.com/annaehrnsperger" target="_blank" rel="noopener noreferrer">GitHub</a></p>
      <p><a href="mailto:hallo@annaehrnsperger.de">Email</a></p>
    </div>

    <a class="text-sm" href="/disclaimer">©{% year %} Disclaimer & Privacy Policy</a>
  </div>
</div>