{% macro intro(section) %}
  <section class="relative {{ "h-[66vh] md:h-[77vh]" if template === 'about' }} {{ "h-[66vh] md:h-[87vh]" if template !== 'about' }}">
    <div class="font-sans bg-black min-h-[130vh] w-full text-2xl text-white tracking-tighter leading-none absolute z-[-1]" data-intro>
       {% include section %}
    </div>

    <div class="font-sans min-h-[130vh] w-full text-2xl text-black tracking-tighter leading-none absolute inset-0 z-[-2]">
       {% include section %}
    </div>
  </section>
{% endmacro %}