@import './base/normalize.css';
@import './base/fallbacks.css';
@import './base/fonts.css';
@import './base/variables.css';
@import './base/customClasses.css';

@import './prism/nord.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/** 
  * Defaults
  */
html {
  font-size: 10px;
}

body {
  @apply font-semi text-base antialiased leading-tight bg-primary text-secondary;
}

::selection {
  background: var(--gray);
}

figure img,
figure video {
  @apply object-cover w-full h-full scale-[1.01];
}

.media-left img,
.media-left video {
  @apply object-left-top;
}

/** 
  * Typography
  */

.hl {
  @apply font-sans text-xl leading-none tracking-tight;
}

.subhl {
  @apply font-sans text-lg leading-tighter tracking-tight;
}

/** 
  * Layout
  */

.project-thumbnail img,
.project-thumbnail video,
.story-thumbnail img,
.story-thumbnail video {
  transition: opacity 0.15s ease-in-out;
}

.project-thumbnail figure:hover img,
.project-thumbnail figure:hover video,
.story-thumbnail:hover img,
.story-thumbnail:hover video {
  opacity: 0;
}

.story-media img,
.story-media video {
  opacity: 0;
}

.grid-layout {
  @apply grid grid-cols-12 gap-x-4;
}

/** 
  * Modules
  */

.headline-module div p,
.textblock-module div p,
.textblock-module ul {
  @apply pb-8;
}

.headline-module div p:last-child,
.textblock-module div p:last-child {
  @apply pb-0;
}

.textblock-module.textblock-module-project p {
  @apply pb-0;
}

strong {
  @apply font-normal;
}

article a,
p a {
  @apply underline;
}

footer p a {
  @apply no-underline;
}

article a:hover,
p a:hover {
  @apply no-underline;
}

.textblock-module ul li {
  margin-left: 30px;
  display: block;
}

.textblock-module ul li::before {
  content: '▪';
  display: inline-block;
  width: 30px;
  margin-left: -30px;
}
