@import './base/normalize.css';
@import './base/fonts.css';
@import './base/variables.css';
@import './base/customClasses.css';

@import './components/calendar.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/** 
  * Defaults
  */
html {
  font-size: 10px;
}

body {
  @apply font-sans text-base antialiased leading-tight bg-primary text-secondary;
}

::selection {
  background: var(--gray);
}

figure img,
video {
  @apply object-cover w-full h-full;
}

/** 
  * Typography
  */

.hl {
  @apply text-xl leading-small;
}

.subhl {
  @apply text-lg leading-tighter;
}

/** 
  * Layout
  */

.project-thumbnail img,
.project-thumbnail video {
  transition: opacity 0.15s ease-in-out;
}

.project-thumbnail:hover img,
.project-thumbnail:hover video {
  opacity: 0;
}

.grid-layout {
  @apply grid grid-cols-12 gap-4;
}

/** 
  * Additional
  */

@media (min-width: 768px) {
}
