---
pageTitle: About
template: about
slug: about
---

{% from "sections/intro.njk" import intro with context %}
{% from "partials/media.njk" import media with context %}
{% from "modules/headline.njk" import headline with context %}
{% from "modules/textblock.njk" import textblock with context %}
{% from "modules/code.njk" import code with context %}


{{ intro("sections/aboutintro.njk") }}

{% for module in about.content %}
  {% include "modules/modules.njk" %}
{% endfor %}

<div class="h-96"></div>