---
pageTitle: Components
slug: components
---
{% from 'components/videoplayer.njk' import videoplayer %}

<h2 class="text-lg pt-48">Accordion</h2>
{% include "components/accordion.njk" %}

<h2 class="text-lg pt-48">Calendar</h2>
{% include "components/calendar.njk" %}

<h2 class="text-lg pt-48">Carousel</h2>
{% include "components/carousel.njk" %} 

<h2 class="text-lg pt-48">Horizontal Slider</h2>
{% include "components/horizontalSlider.njk" %}

<h2 class="text-lg pt-48">List</h2>
{% include "components/list.njk" %}

<h2 class="text-lg pt-48">Marquee</h2>
{% include "components/marquee.njk" %}

<h2 class="text-lg pt-48">Newsletter</h2>
{% include "components/newsletter.njk" %}

<h2 class="text-lg pt-48">Pinned Slider</h2>
{% include "components/pinnedSlider.njk" %}

<h2 class="text-lg pt-48">Simple Slider</h2>
{% include "components/simpleSlider.njk" %}

<h2 class="text-lg pt-48">Videoplayer</h2> 
{{ videoplayer("https://assets.mixkit.co/videos/preview/mixkit-very-close-shot-of-the-leaves-of-a-tree-wet-18310-large.mp4") }}

<h2 class="text-lg pt-48">Animations</h2>
  <br />
<h2>In View Animations</h2>
{% include "components/inview.njk" %}

