---
template: frontpage
slug: /
---

{% from "partials/media.njk" import media with context %}


<section class="relative h-[80vh]" data-fp-intro-container>
  <div class="font-sans bg-black min-h-[130vh] w-full text-2xl text-white tracking-tighter leading-none absolute z-[1]" data-intro>
    {% include "partials/introtext.njk" %}
  </div>

  <div class="font-sans min-h-[130vh] w-full text-2xl text-black tracking-tighter leading-none absolute inset-0 z-[-1]">
    {% include "partials/introtext.njk" %}
  </div>
</section>


<section>
  {% for project in work.projects | reverse %}
    <a href="/work/{{ project.slug.current }}" class="project-thumbnail relative grid-layout px-4 md:px-8 {% if loop.first %}pt-48{% endif %}" data-transition="project">
      <div class="col-start-2 col-span-11">
        <h3 class="pb-[1px] md:pb-0 md:translate-y-1">{{ project.type }}</h3>
        <h4 class="pb-4 subhl">{{ project.title }}</h4>
      </div>
      
      <figure class="relative col-span-10 md:col-span-full md:h-[33vw] media-left overflow-hidden {{ "square" if project.previewSize === 'square' }} {{ "sixteen-nine" if project.previewSize === 'sixteentonine' }} {{ "four-three" if project.previewSize === 'fourtothree' }} bg-black -translate-y-2" data-preview-project>
        {{ media(project.media.type, project.media.image, project.media.alt, project.media.video) }}
      </figure>

      <div class="grid-layout absolute bottom-0 w-full pointer-events-none opacity-0" data-project-more>
        <div class="col-start-2 col-span-10 hl text-white z-10">more</div>
        <div class="col-start-1 col-span-10 hl text-white z-10 translate-x-12 -translate-y-4">→</div>
      </div>
    </a>

    <div class="h-44 md:h-96"></div>
  {% endfor %}
</section>