---
pagination:
  data: posts
  size: 1
  alias: post
  addAllPagesToCollections: true
tags: posts
eleventyComputed:
  pageTitle: "{{ post.title }}"
template: post
permalink: "stories/{{ post.slug | slug }}/index.html"
---

{% from "components/partials/media.njk" import media with context %}
{% from "components/modules/headline.njk" import headline with context %}
{% from "components/modules/textblock.njk" import textblock with context %}
{% from "components/modules/code.njk" import code with context %}

<h1>{{ post.title }}</h1>

{% for module in post.content %}
  {% include "components/modules.njk" %}
{% endfor %}
