---
pageTitle: Shop
template: shop
slug: shop
---

<ul class="flex" data-filter>
  <li class="cursor-pointer" data-filter-category="all">All</li>
  {% for product in products %}
    {% for collection in product.collections.edges %}
      <li class="opacity-50 cursor-pointer" data-filter-category="{{ collection.node.handle }}">{{ collection.node.title }}</li>
    {% endfor %}
  {% endfor %}
</ul>

{% for product in products %}
  <a href="/shop/{{ product.handle }}" data-filter-item="{% for collection in product.collections.edges %}{{ collection.node.handle }} {% endfor %}">
    <figure class="w-96 h-96">
      {% shopImg product.images.edges[0].node.originalSrc, product.images.edges[0].node.transformedSrc, "Shopify Image" %}
    </figure>
    <p>{{ product.title }}</p>
  </a>
{% endfor %}