---
pagination:
  data: posts
  size: 1
  alias: post
  addAllPagesToCollections: true
tags: posts
eleventyComputed:
  pageTitle: "{{ post.title }}"
template: story
permalink: "stories/{{ post.slug | slug }}/index.html"
---

{% from "partials/media.njk" import media with context %}


<article class="bg-white text-black">
  <section class="grid-layout p-4 md:p-8 pb-32 md:pb-32" data-intro>
    <h1 class="hl col-start-2 col-span-11 w-[80%] lg:w-[70%] pb-8">{{ post.title }}</h1>

    <figure class="story-media col-span-1 square bg-black md:w-[85%]" data-story-media>
      {{ media(post.media.type, post.media.image, post.media.alt, post.media.video) }}
    </figure>
  </section>

  <section class="opacity-0 pb-44 md:pb-96" data-story-content>
    {% for module in post.content %}
      {% include "modules/modules.njk" %}
    {% endfor %}
  </section>
</article>