---
pageTitle: Stories
template: stories
slug: stories
---

{% from "sections/intro.njk" import intro with context %}
{% from "partials/media.njk" import media with context %}


{{ intro("sections/storiesintro.njk") }}

<section>
  {% for story in stories.stories | reverse %}
    <a href="/stories/{{ story.slug.current }}" class="story-thumbnail grid-layout p-8 text-secondary" data-transition="story">
      <figure class="col-start-1 col-span-1 bg-secondary square" data-preview-storyimg>
        {{ media(story.media.type, story.media.image, story.media.alt, story.media.video) }}
      </figure>

      <h3 class="hl col-start-2 col-span-8">{{ story.title }}</h3>
    </a>

    <div class="h-24 md:h-44 lg:h-96"></div>
  {% endfor %}
</section>