---
pageTitle: Stories
template: stories
slug: stories
---

{% from "sections/intro.njk" import intro with context %}
{% from "partials/media.njk" import media with context %}


{{ intro("sections/storiesintro.njk") }}

<section>
  {% for story in stories.stories | reverse %}
    <a href="/stories/{{ story.slug.current }}" class="story-thumbnail grid-layout p-4 md:p-8 text-secondary pb-12 sm:pb-24 md:pb-36 lg:pb-56" data-transition="story">
      <figure class="col-start-1 col-span-1 bg-secondary square md:-translate-y-6" data-preview-storyimg>
        {{ media(story.media.type, story.media.image, story.media.alt, story.media.video) }}
      </figure>

      <h3 class="hl col-start-2 col-span-11 w-[80%] lg:w-[70%] pb-8">{{ story.title }}</h3>
    </a>
  {% endfor %}

  <div class="h-44"></div>
</section>