{% macro code(code, lang) %}
  <section class="code-module grid-layout p-4 py-8 md:p-8">
    <div class="col-span-10 md:col-start-2 md:col-span-8 lg:col-start-2 lg:col-span-6">
      {% if lang === 'javscript' %}
        {% highlight "js" %}
          {{ code | safe }}
        {% endhighlight %}
      {% else %}
        {% highlight "js" %}
          {{ code | safe }}
        {% endhighlight %}
      {% endif %}
    </div>
  </section>
{% endmacro %}