{% macro headline(headline) %}
  <section class="headline-module grid-layout p-4 py-8 md:p-8">
    <div class="col-span-10 md:col-start-2 md:col-span-6 subhl">{{ headline }}</div>
  </section>
{% endmacro %}