{% from "components/muxvideo.njk" import muxvideo with context %}

{% macro media(type, imageSrc, alt, videoSrc) %}
  {% if type === 'image' %}
    {% img imageSrc, alt %}
  {% else %}
    {{ muxvideo(videoSrc) }}
  {% endif %}
{% endmacro %}