.clip-left {
  clip-path: inset(0% 0% 0% 100%);
}

.clip-right {
  clip-path: inset(0% 100% 0% 0%);
}

.clip-top {
  clip-path: inset(100% 0% 0% 0%);
}

.clip-bottom {
  clip-path: inset(0% 0% 100% 0%);
}

.svg-full svg {
  width: 100%;
  height: 100%;
}

.sixteen-nine,
.four-three,
.square {
  aspect-ratio: 1;
}

@media (min-width: 900px) {
  .sixteen-nine {
    aspect-ratio: 16 / 9;
  }

  .four-three {
    aspect-ratio: 4 / 3;
  }

  .square {
    aspect-ratio: 1;
  }
}
