:root {
  --primary: var(--black);
  --secondary: var(--white);
  --black: #000000;
  --white: #ffffff;
  --gray: #232323;

  --base: clamp(1.5rem, 3vw, 1.8rem);
  --lg: clamp(3rem, 4vw, 4rem);
  --xl: clamp(3rem, 7vw, 10.5rem);
  --2xl: clamp(4.6rem, 9vw, 13.5rem);
}

@supports not (font-size: clamp(1rem, 2vw, 3rem)) {
  :root {
    --base: 1.6rem;
    --lg: 3rem;
    --xl: 4rem;
    --2xl: 5rem;
  }
}
